{% extends "sitebase.html" %}
{% block title %}
  <title>Recommended Items</title>
{% endblock %}
{% block content %}
<br> <br>
<div class="container">
    <!-- <h3> Logged in as User.username </h3> -->
    <h3>Top 10 Recommendations </h3>
    <div>
        <table class="table table-light table-hover table-bordered table-striped">
            <thead class="bg-info">
                <tr>
                    <th scope="col">Item Name</th>
                    <th scope="col">Cuisine</th>    
                    <th scope="col">Price(INR)</th>
                    <th scope="col">Restaurant</th>
                    <th scope="col">Restaurant Rating</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
                {% for t in dishes %}
                <tr>
                    <td> {{t.0}}</td>
                    <td>{{t.5}}</td>
                    <td>{{t.2}}</td>
                    <td>{{t.3}}</td>
                    <td>{{t.4}}</td>
                    <td>{{t.6}}</td>

                </tr>
                {% endfor %}
    
            </tbody>
        
        </table>
        
    </div>
</div>  
{% endblock %}