{% extends "sitebase.html" %}
{% block title %}
  <title>Recommended Items</title>
{% endblock %}
{% block content %}
<br> <br>
<div class="container">
    <!-- <h3> Logged in as User.username </h3> -->
    <h3>Top 10 Recommendations </h3>
    <div>
        <form class="form-group" action="{% url 'Reco:orderView' %}" method="POST">
            {% csrf_token %}
        <table class="table table-light table-hover table-bordered table-striped">
            <thead class="bg-info">
                <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Cuisine</th>    
                    <th scope="col">Price(INR)</th>
                    <th scope="col">Restaurant</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
            
                
            {% for t in dishes %}
                <tr>
                    <td> <input type="checkbox" name="order" value="{{t.7}}" id="{{t.7}}"> </td>
                    <td> <label for="{{t.7}}">{{t.0}}</label> </td>
                    <td>{{t.5}}</td>
                    <td>{{t.2}}</td>
                    <td>{{t.3}}</td>
                    <td>{{t.8}}</td>
                    <td>{{t.6}}</td>
                </tr>
            {% endfor %}
    
            </tbody>
        
        </table>
        <button class="btn btn-primary btn-block" type="submit" style="width: 12rem; margin: 1rem 0 0 0.5rem; " >Submit</button>
        </form>
        
    </div>
</div>  
{% endblock %}