{% extends "sitebase.html" %}
{% block title %}
  <title>Home</title>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<br> <br>
<div class="container">
    <h3> Choose a Restaurant </h3>
    <form class="form-group" action="{% url 'Reco:showRest' %}" method="POST">
        {% csrf_token %}
        <select name="restaurant" id="select_restaurant" class="form-control" style="width: 20rem;">
            {% for t in rest %}
            <option value={{t.restaurantId}}>{{t.name}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary btn-block" type="submit" style="width: 12rem; margin-top: 1rem;">Submit</button>
    </form>
</div>

{% endblock %}