{% extends "sitebase.html" %}
{% block title %}
  <title>Home</title>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<br> <br>
<div class="container">
    <h3> Choose a Menu Item to get similar recommendations</h3>
    <form class="form-group" action="{% url 'Reco:showMenu' %}" method="POST">
        {% csrf_token %}
        <select name="restaurant" id="select_restaurant" >
            {% for t in menu %}
            <option value={{t.itemId}}>{{t.name}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary btn-block" type="submit" style="width: 120px;" >Submit</button>
    </form>
</div>

{% endblock %}