{% extends "sitebase.html" %}
{% block title %}
  <title>Rate Items</title>
{% endblock %}
{% block content %}
<br> <br>
<div class="container">
    <!-- <h3> Logged in as User.username </h3> -->
    <h3>Rate Your Order </h3>
    <div>
        <form class="form-group" action="{% url 'Reco:rateView' %}" method="POST">
            {% csrf_token %}
        <table class="table table-light table-hover table-bordered table-striped">
            <thead class="bg-info">
                <tr>
                    <th scope="col">Item Name</th>
                    <th scope="col">Price(INR)</th>
                    <th scope="col">Restaurant</th>
                    <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
            
                
            {% for t in orders %}
                <tr>
                    <td>{{t.0}}</td>
                    <td>{{t.1}}</td>
                    <td>{{t.2}}</td>
                    <td><input type="number" step="1" min="1" max="5" name="ratings" id="{{t.3}}" multiple> </td>
                    <input type="hidden" id="{{t.3}}" name="ids" value="{{t.3}}" multiple>
                </tr>
            {% endfor %}
    
            </tbody>
        
        </table>
        <button class="btn btn-primary btn-block" type="submit" style="width: 12rem; margin: 1rem 0 0 0.5rem; " >Submit Ratings</button>
        </form>
        
    </div>
</div>  
{% endblock %}