{% extends "sitebase.html" %}
{% block title %}
  <title>Sign Up</title>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<br> <br>
<div class="container">
    <h3 class="whiteh3"> Create your profile</h3>
    <div class="panel panel-default" style="width: 30rem;">
        <form class="form-group" action="{% url 'registerView' %}" method="POST">
            {% csrf_token %}
            {{formA|crispy}}
            {{formB|crispy}}
            <button class="btn btn-primary btn-block" type="submit" style="width: 12rem; margin-top: 1rem;">Sign Up</button>
        </form>
        
    </div>
</div>

{% endblock %}